[submodule "web3-infra/lib/openzeppelin-contracts"]
	path = web3-infra/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "web3-infra/lib/forge-std"]
	path = web3-infra/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
